<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<import resource="spring-portal-dao.xml"/>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="datasource" ref="datasource"/>
	</bean>
	
	<!-- 切面 -->
	<aop:config>
         <aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.seeyon.apps.portal.service.impl.*Impl.*(..))" />
     </aop:config>
     
     <!-- 配置事物通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="create*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="insert*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="add*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="update*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="edit*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="modify*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="delete*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="remove*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="false" />
			<tx:method name="find*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="true" />
			<tx:method name="get*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="true" />
			<tx:method name="query*" propagation="REQUIRED" isolation="REPEATABLE_READ"
				read-only="true" />
		</tx:attributes>
	</tx:advice>

</beans>