<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--加载配置文件JDBC.properties-->
    <context:property-placeholder location="classpath:/properties/JDBC.properties"/>

    <!--配置数据库连接池-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!--创建EntityManager进行对数据库的管理-->
    <bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!--加载数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--指定JPA厂商适配器  注明底层实现的开发方-->
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <!--扫描包-->
        <property name="packagesToScan" value="com.seeyon.portal"/>
        <property name="jpaProperties">
            <props>
                <!--命名规则-->
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
                <!--数据库方言-->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--数据库建表策略 validate验证创建数据库表结构-->
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <!--将SQL语句输出到控制台-->
                <prop key="hibernate.show_sql">true</prop>
                <!--格式化sql语句-->
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>
</beans>